@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-ExtraBold.woff') format('woff'),
        url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light.woff') format('woff'),
        url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('MuseoSansCyrl-100.eot');
    src: local('MuseoSansCyrl-100'),
        url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-100.woff') format('woff'),
        url('MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300.eot');
    src: local('MuseoSansCyrl-300'),
        url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-300.woff') format('woff'),
        url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Demo';
    src: url('Avertademopeextrabold.ttf');
    src: local('Avertademopeextrabold'),
        url('Avertademopeextrabold.woff2') format('woff2'),
        url('Avertademopeextrabold.woff') format('woff'),
        url('Avertademopeextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Bold.otf');
    src: local('Phenomena'),
        url('Phenomena-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
